* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* regole generali */

.container-general {
    display: flex;
    height: calc(100vh - 80px);
}
.aside {
    border: 1px solid black;
    width: 250px;
}
.header-main {
    border: 1px solid black;
    width: calc(100% - 250px);
}
header {
    border: 1px solid black;
}


/* REGOLE HOVER */ 

aside > .links-aside > ul > li:hover,
.links-aside > ul > li > a:hover,
.playlist > ul > li:hover,
.john > span:hover,
.links-main > ul > li > a:hover {
    cursor: pointer;
    color: white;
}
 

.title-card-music-1 > .card-music-1 > .card:hover,
.title-card-music-2 > .card-music-2 > .card:hover {
    cursor: pointer;
    opacity: 0.5;
}




/* HEADER */
header {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: #131826;
}
header > button {
    color: white;
    background-color: #080b12;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
}


/* ASIDE */
aside > .playlist-john {
    display: flex;
    height: calc(100vh - 290px);
}
.aside {
    background-color: black;
    color: white;
}
.logo {
    width: 60%;
    padding-left: 10px;
    padding-top: 14px;
}

.links-aside {
    margin-top: 1em;
    padding-left: 10px;
}
.links-aside > ul {
    list-style-type: none;
}
.links-aside > ul > li {
    padding-top: 10px;
    color: #555555;
}
.links-aside > ul > li > i {
    font-size: 25px;
    margin-right: 10px;
}
.links-aside > ul > li > a {
    text-decoration: none;
    color: #555555;
}

.links-aside > ul > li:first-child > a {
    color: #d2d2d2;
}
.links-aside > ul > li:first-child {
    color: #d2d2d2;
}

.playlist-john {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.playlist-john > .playlist, .john {
    width: 90%;
}
.playlist > ul > li {
    padding-top: 14px;
    font-size: 14px;
    color: #55595f;
}
.playlist > ul > li > i {
    background-color: #a3a3a3;
    color: black;
    font-weight: bold;
    padding: 12px;
    font-size: 20px;
}

.john > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.john > span {
    color: #646464;
}




/* MAIN */
main {
    overflow: auto;
    height: 100%;
    color: white;
}
.header-main {
    background-color: #141922;
    height: 100%;
}
main > .links-main {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > .links-main > ul {
    list-style: none;
    display: flex;
}
main > .links-main > ul > li > a {
    text-decoration: none;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 13px;
    color: #717378;
}


/* regole card 1 */

main > .title-card-music-1 {
    margin-top: 2em;
}
.title-card-music-1 > h3 {
    padding-left: 10px;
    font-size: 24px;
}

.card-music-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 0px 10px;
    margin-top: 2em;
}
.card-music-1 > .card {
    text-align: center;
    font-size: 13px;
    width: 16%;
}
.card-music-1 > .card > img {
    width: 100%;
}
.card-music-1 > .card > h3 {
    margin-top: 6px;
}
.card-music-1 > .card > p {
    color: #55595f;
    margin-top: 5px;
}

/* fine regole card 1 */


.card > h3 {
    font-size: 15px;
}


/* regole card 2 */

.title-card-music-2 {
    margin-top: 2em;
    width: 60%;
}
.title-card-music-2 > h3 {
    font-size: 24px;
    padding-left: 10px;
}
.title-card-music-2 > p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #55595f;
    font-size: 12px;
    padding-left: 10px;
}
.card-music-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 10px;
}
.card-music-2 > .card {
    text-align: center;
    width: 25%;
}
.card-music-2 > .card > img {
    width: 100%;
}
.card-music-2 > .card > h3 {
    margin-top: 6px;
}


/* regole card 3 */

.card-music-3 > img {
    border-radius: 100%;
}
.card-music-3 > img {
    border-radius: 100%;
}
.title-card-music-3 {
    margin-bottom: 70px;
}


/* FOOTER */
footer {
    height: 80px;
    background-color: #282828;
    position: relative;
    z-index: 30;
}
.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-footer > div {
    border-right: 1px solid white;
}
.container-footer > .left-footer {
    margin-top: 14px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 20%;
}


.left-footer > .img-left-footer {
    height: 50px;
    width: 50px;
    background-image: url('../img/sinister.jpeg');
    background-size: contain;
    background-position: center;
}
.txt-img-left-footer {
    margin-left: 10px;
}
.txt-img-left-footer > p {
    font-size: 12px;
    color: white;
}
.txt-img-left-footer > p:last-child {
    color: gray;
}


.folder-heart-left-footer {
    margin-left: 20px;
    display: flex;
    font-size: 20px;
    color: gray;
    margin-left: 15%;
}
.folder-heart-left-footer > i {
    padding-right: 10px;
}




/* RESPONSIVE - MEDIA QUERY */
@media screen and (max-width: 1100px) {
    .card-music-1 > .card {
        width: 20%;
    }
    .title-card-music-2 {
        width: 50%;
    }
    .card-music-2 > .card {
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    .card-music-1 > .card {
        width: 40%;
    }
    .title-card-music-2 {
        width: 100%;
    }
    .card-music-2 > .card {
        width: 38%;
    }
}
